<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ins.mapper.scm.ScmMapper">

    <!-- <resultMap id="list1" type="com.ins.scm.dto.MESSAGE"></resultMap>
    <resultMap id="list2" type="com.ins.scm.dto.SCM_OUT_ADD"></resultMap> -->


    <!-- 업체조회 -->
    <select id="suppGet" resultType="com.ins.scm.dto.SUPP_GET">
        EXEC SP_MB_SUPP_CD_GET
    </select>

    <!-- 품명조회 -->
    <select id="scmPartGet" resultType="com.ins.scm.dto.SCM_PART_GET">
        EXEC SP_MB_BPART_CD_GET
    </select>


    <!-- 자재입고 조회 -->
    <select id="scmInGet" resultType="com.ins.scm.dto.SCM_IN">
        EXEC SP_MB_SCM_IN_GET #{work_date}, #{supp_code}
    </select>

    <!-- 자재입고 서브 조회 -->
    <select id="scmInSubGet" resultType="com.ins.scm.dto.SCM_IN_SUB">
        EXEC SP_MB_SCM_IN_SUB_GET #{in_no}
    </select>

    <!-- 자재출고 조회 -->
    <select id="scmOutGet" resultType="com.ins.scm.dto.SCM_OUT_GET">
        EXEC SP_MB_SCM_OUT_GET #{work_date}, #{cargo_code}
    </select>

    <!-- 자재출고 서브 조회 -->
    <select id="scmOutSubGet" resultType="com.ins.scm.dto.SCM_OUT_SUB_GET">
        EXEC SP_MB_SCM_OUT_SUB_GET #{work_date}, #{cargo_code}, #{part_code}
    </select>

    <!-- 자재출고진행 (바코드) -->
    <select id="scmOutBcrAdd" resultType="com.ins.scm.dto.SCM_BCR_OUT_ADD">
        EXEC SP_MB_SCM_OUT_BCR_ADD #{bcr_no},#{cargo_code},#{work_date},#{user_code}
    </select>

    <!-- 창고 리스트 조회-->
    <select id="scmCargoGet" resultType="com.ins.scm.dto.SCM_CARGO_GET">
        EXEC SP_MB_SCM_CARGO_CD_GET #{type}
    </select>

    <!-- 바코드 미관리 항목 자재조회-->
    <select id="scmOutBcrNonGet" resultType="com.ins.scm.dto.SCM_OUT_BCR_NON_GET">
        EXEC SP_MB_SCM_OUT_BCR_N_GET #{cargo_code}, #{part_code}
    </select>

    <!-- 바코드 미관리 자재출고-->
    <select id="scmOutBcrNonAdd" resultType="com.ins.scm.dto.SCM_OUT_BCR_NON_ADD">
        EXEC SP_MB_SCM_OUT_BCR_N_ADD #{part_code}, #{cargo_code_from},#{cargo_code_to}, #{work_date},#{qty}, #{user_code}
    </select>

    <!-- 거래명세서 스캔 -->
    <select id="tradingGet" resultType="com.ins.scm.dto.TRADING_GET">
        EXEC SP_MB_TRADING_GET #{tr_no}
    </select>

    <!-- 수입검사 스캔(파트코드) -->
    <select id="qmsPartGet" resultType="com.ins.scm.dto.QMS_PART_GET">
        EXEC SP_MB_QMS_RECV_GET #{part_code}
    </select>

    <!-- 수입검사 진행-->
    <select id="qmsRecvAdd" resultType="com.ins.scm.dto.QMS_RECV_ADD">
        EXEC SP_MB_QMS_RECV_ADD #{tr_no}, #{part_code}, #{ord_no}, #{data_list}, #{user_code}
    </select>

    <!-- 거래명세서 입고진행 -->
    <select id="scmQcAdd" resultType="com.ins.scm.dto.SCM_QC_ADD">
        EXEC SP_MB_SCM_QC_ADD #{tr_no},#{remark},#{user_code}
    </select>

    <!-- 재고조정 바코드 조회 -->
    <select id="scmStockSetGet" resultType="com.ins.scm.dto.SCM_STOCK_SET_GET">
        EXEC SP_MB_SCM_STOCK_SET_GET #{cargo_code},#{bcr_no},#{user_code}
    </select>

    <!-- 재고조정 진행 -->
    <select id="scmStockSetAdd" resultType="com.ins.scm.dto.SCM_STOCK_SET_ADD">
        EXEC SP_MB_SCM_STOCK_SET_ADD #{bcr_no},#{qty},#{reason_code},#{user_code}
    </select>

    <!-- 재고조정 조정사유 조회 -->
    <select id="scmStockSetReasonCdGet" resultType="com.ins.scm.dto.SCM_STOCK_SET_REASON_CD_GET">
        EXEC SP_MB_SCM_STOCK_SET_REASON_CD_GET
    </select>

</mapper>