<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ins.mapper.wms.WmsMapper">

    <!-- 공정관리 조회 -->
    <select id="qmsProcRouteCdGet" resultType="com.ins.wms.dto.QMS_PROC_ROUTE_CD_GET">
        EXEC SP_MB_QMS_PROC_ROUTE_CD_GET
    </select>

    <!-- 공정관리 등록 -->
    <select id="qmsProcRouteCdAdd" resultType="com.ins.wms.dto.QMS_PROC_ROUTE_CD_ADD">
        EXEC SP_MB_QMS_PROC_ROUTE_ADD #{data_list},#{user_code}
    </select>

    <!-- 제품로트추적 -->
    <select id="wmsLotTrackGet" resultType="com.ins.wms.dto.WMS_LOT_TRACK_GET">
        EXEC SP_MB_WMS_LOT_TRACK_GET #{bcr_no}
    </select>

    <!-- 공정 라우팅 조회 -->
    <select id="procCdGet" resultType="com.ins.wms.dto.PROC_CODE_GET">
        EXEC SP_MB_PROC_CODE_GET
    </select>

    <!-- 실적등록 대기 리스트 조회 -->
    <select id="popProdListGet" resultType="com.ins.wms.dto.POP_PROD_LIST_GET">
        EXEC SP_MB_POP_PROD_LIST_GET #{proc_code}
    </select>

    <!-- 공정 호기 조회 -->
    <select id="machineTypeCdGet" resultType="com.ins.wms.dto.MACHINE_TYPE_CODE_GET">
        EXEC SP_MB_MACHINE_TYPE_CODE_GET
    </select>

    <!-- 실적등록 진행 -->
    <select id="popProdAdd" resultType="com.ins.wms.dto.POP_PROD_ADD">
        EXEC SP_MB_POP_PROD_ADD #{data_list},#{user_code},#{type}
    </select>

    <!-- 공정별 작업현황 조회 -->
    <select id="popProdProcGet" resultType="com.ins.wms.dto.POP_PROD_PROC_GET">
        EXEC SP_MB_POP_PROD_PROC_GET #{proc_code},#{machine_code}
    </select>

    <!-- 제품검사 항목 조회 -->
    <select id="qmsProdCheckGet" resultType="com.ins.wms.dto.QMS_PROD_CHECK_GET">
        EXEC SP_MB_QMS_PROD_CHECK_GET
    </select>

    <!-- 제품검사 검사항목 조회 -->
    <select id="qmsProdCdGet" resultType="com.ins.wms.dto.QMS_PROD_CD_GET">
        EXEC SP_MB_QMS_PROD_CD_GET #{plan_no}, #{part_code}
    </select>

    <!-- 제품검사 저장 -->
    <select id="qmsProdCheckAdd" resultType="com.ins.wms.dto.QMS_PROD_CHECK_ADD">
        EXEC SP_MB_QMS_PROD_CHECK_ADD #{plan_no}, #{part_code}, #{data_list}, #{user_code}
    </select>


</mapper>